.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
    width:500px;
    height:500px;

}

.square{
    display: flex;
    width:31.25px;
    height: 31.25px;


}