.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10%;


}

.square{
    display: flex;
    border-style: solid;
    border-color: rgb(59, 59, 66);
    padding: 2.74%;

}